body {
    background: url(../assets/finalbg2.webp) no-repeat;
    background-size: cover;
}



h2 {
    font-size: 5em;
    font-family: serif;
    color: transparent;
    text-align: center;
    animation: effect 1s linear infinite;
    
}

@keyframes effect {
    0% {
        background: linear-gradient(
                #008000, red);
        -webkit-background-clip: text;
    }

    100% {
        background: linear-gradient(
                yellow, #000FFF);
        -webkit-background-clip: text;
    }
}


#optionbox{
    background-color: aliceblue ;
    font-weight: 100;
    border-radius: 1rem;
    font-size: larger;
}


#addresser{
    width: 8vh;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
     background-color: aliceblue;
    font-weight: bold;
    font-size: large;
}






#options{

    display: flex;
justify-content:space-evenly  ;
font-family: "Roboto Mono", sans-serif;
font-size: 50px;
font-style: italic  ;
font-weight: 500;

}




